/* General Styles */

h1 {
    background-color: #000;
    color: #fff;
    padding: 15px;
    margin: 0 0 20px 0;
    font-size: 18px;
}

div.ville {
    background-color: gainsboro;
    margin-bottom: 15px;
    border-radius: 8px;
    flex: 1 1 300px; /* permet de definir la taille des bloc */
}

div.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* fait espacement entre les bloc*/
}


/* Footer Styles */
footer {
    margin-top: 30px;
    font-size: 12px;
    color: #333;
    background-color: lightgrey;
}